body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background: #dcdde1;
}

ol,
ul {
  padding: 8px;
}

ol {
  list-style: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  height: 24px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 24px;
}

.square:focus {
  outline: none;
  background: #ecf0f1;
}

.square:hover {
  outline: none;
  background: #ecf0f1;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  font-weight: bold;
  font-size: 15px;
  background: #c8d6e5;
  border-radius: 20px;
}

.game-info-heading {
  position: relative;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 8%;
}

.game-info-heading::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 110px;
  height: 5.5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #1da2dc;
  border-radius: 4px;
}

.main-content {
  background: white;
  border-radius: 20px;
  border: none;
  padding: 30px;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.winPos {
  background: yellow !important;
}

.step-footer {
  position: relative;
  height: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: white;
  content: "";
}

.step {
  width: 100%;
  margin: 4px 0;
  border-radius: 5px;
  border: none;
  border-bottom: solid 1px #0abde3;
  background: #c8d6e5;
}

.step:hover {
  background: #54a0ff;
}

.active {
  background: #2e86de;
}

.step-header {
  margin-top: 10px;
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.step-header-title {
  padding-left: 10px;
}

.step-area {
  background: white;
  height: 300px;
  overflow-y: scroll;
}

.up {
  position: relative;
  content: "";
  background-image: url("../img/sort.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.down {
  content: "";
  position: relative;
  background-image: url("../img/sort.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  transform: scaleY(-1);
}

.sort-btn {
  position: relative;
  background: none;
  padding: 5px;
  border: none;
}

.sort-btn:hover {
  background: #8395a7;
}

.form {
  background: white;
  padding: 3rem;
}

.disable-step {
  pointer-events: none;
  filter: brightness(50%);
}

#form-ui {
  padding: 2em 2em;
  background-color: white;
}
#form-ui .form-name {
  position: relative;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.5em;
}
#form-ui .sns-title {
  padding: 1em 0;
}
#form-ui .sns-title .link {
  padding-left: 10px;
  color: #1da2dc;
}
#form-ui .sns-title .link:hover {
  color: #1da2dc;
  font-weight: bold;
  text-decoration: none;
}
#form-ui .other {
  padding: 0 0 1em 0;
  color: gray;
  font-size: 10px;
}
#form-ui .fb-btn {
  margin: 0.5em 0;
  font-weight: normal;
  background-color: #3b5998;
  text-align: left;
}
#form-ui .fb-btn:hover {
  background-color: #30487c;
}
#form-ui .google-btn {
  margin: 0.5em 0;
  font-weight: normal;
  background-color: #ea4335;
  text-align: left;
}
#form-ui .google-btn:hover {
  background-color: #c43a2d;
}
#form-ui .form-btn {
  margin: 2em 0;
}
#form-ui .btn-content {
  padding-left: 10px;
}

.my-btn {
  font-weight: bold;
  background-color: #1da2dc;
  color: white;
  padding: 1em 2em;
  margin: 1em 0;
  display: inline-block;
  width: 20rem;
  border: none;
}
.my-btn:hover {
  background-color: #1b8bbb;
  color: white;
}

.field-width {
  width: 20rem;
}

.MuiInput-underline::after {
  border-bottom: 2px solid #1da2dc !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #1da2dc !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid #1da2dc;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.MuiRadio-colorPrimary.Mui-checked, .MuiButton-textPrimary {
  color: #1da2dc !important;
}

.MuiPickersToolbar-toolbar, .MuiPickersDay-current {
  background-color: #1da2dc !important;
}

.reset-link-style {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
.reset-link-style:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.banner {
  background: #5BB8F7;
  color: #FFF;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5BB8F7), to(#3794D1));
  background-image: linear-gradient(-180deg, #5BB8F7 0%, #3794D1 100%);
}
.banner .game-info-heading {
  margin-bottom: 2rem;
}
.banner .game-info-heading::after {
  display: none;
}
.banner .profile-avatar {
  width: 150px !important;
  height: 150px !important;
}

.card-title {
  font-weight: bold;
  font-size: 1.2em;
}
.card-title .card-title-players {
  color: #3794D1;
}

/*# sourceMappingURL=index.css.map */
